.raffle-card {
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%; /* Reduce width to 90% */
    max-width: 400px; /* Reduce max-width to 400px */
    margin: 10px auto; /* Adjust margin for smaller spacing */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    padding: 15px; /* Reduce padding */
}

.raffle-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.raffle-name {
    font-size: 24px; /* Slightly reduce font size */
    font-weight: bold;
    color: #1d1d1f;
    margin-top: 15px; /* Adjust margin */
}

.raffle-description {
    font-size: 16px; /* Slightly reduce font size */
    color: #8e8e93;
    margin: 10px 0 15px 0;
}

.raffle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px; /* Reduce bottom margin */
}

.raffle-price,
.raffle-tickets,
.raffle-total-tickets {
    font-size: 16px; /* Slightly reduce font size */
    color: #333;
    margin: 5px 0;
}

.progress-bar-container {
    width: 100%;
    margin: 15px 0; /* Reduce margin */
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    height: 15px; /* Reduce height */
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #6a1b9a;
}

.progress-text {
    font-size: 14px; /* Slightly reduce font size */
    color: #333;
    margin-top: 5px; /* Reduce margin */
}

.buy-ticket-button {
    background-color: #6a1b9a;
    color: #fff;
    padding: 10px 20px; /* Adjust padding */
    font-size: 16px; /* Slightly reduce font size */
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    max-width: 250px; /* Reduce max-width */
    margin: 10px auto 0 auto; /* Adjust margin */
    display: block;
}

.buy-ticket-button:hover {
    background-color: #4a148c;
    transform: translateY(-4px);
}

.buy-ticket-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
